*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    display: flex;
    height: 100vh;
    background-color: rgb(88, 240, 189);
}
.container{
   display: flex;
   flex-wrap: wrap;
   width: 600px;
   height: 600px;
   border: 1px solid black;
   margin: auto;
}
.cell{
    border: 1px solid black;
    width: calc(( 600px - 2px) / 10);
    height: calc(( 600px - 2px) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell.active{
 background-color: blue;
}